services:
  web:
    build: .
    container_name: fastapi
    command: uvicorn app.app:app --host 0.0.0.0 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      DB_URL: ${DB_URL}
      REDIS_URL: ${REDIS_URL}
    depends_on:
      - redis
    restart: on-failure

  redis:
    image: redis:7-alpine
    container_name: redis
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  redis_data:
